.size-6 {
  width: 3.5vh;
  height: auto;
}

.filter-icon,
.add-icon,
.download-file {
  cursor: pointer;
  color: var(--header-text-color-2);
}

.filter-icon:hover,
.add-icon:hover,
.download-file:hover {
  color: var(--header-text-color);
}
