.website-icon {
  width: 2rem;
  height: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
}

.left-section {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.right-section button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--button-color-2);
  color: white;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.right-section button:hover {
  background-color: var(--button-hover-color-2);
}
