.library-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-bar {
  display: flex; /* Aligns items horizontally */
  align-items: center; /* Vertically centers items */
  background-color: var(--container-color); /* Light gray background */
  border-radius: 1rem; /* Rounded corners */
  padding: 0.25rem; /* Space inside the container */
  width: 20vw; /* Adjust width as needed */
  gap: 0.5rem; /* Adds spacing between elements */
  width: 75%; /* Ensure it's responsive */
  border: solid 0.01rem;
  border-color: rgba(0, 0, 0, 0.2); /* Black border with transparency */
}

.search-bar:focus-within {
  border-color: var(--button-color-2);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border: none; /* Removes default border */
  outline: none; /* Removes outline on focus */
  font-size: 1rem; /* Adjust font size */
  flex: 1; /* Makes input take up the remaining space */
  background: transparent; /* Matches the background */
}

.snippet-grid {
  animation: fadeIn 0.5s ease-in;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 100rem;
  margin: 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

.snippet-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  gap: 1.5rem;
  width: 100%;
  height: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.snippet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.snippet-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.snippet-card-header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.snippet-card-link {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  color: var(--button-color);
  transition: color 0.2s ease;
  text-decoration: none;
}

.snippet-card-link:hover {
  color: var(--button-hover-color);
  text-decoration: underline;
}

.snippet-card-title {
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--header-text-color);
  margin: 0;
}

.language {
  font-size: 1rem;
  text-align: center;
  padding-left: 0.25rem;
}

.tags {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
}

.snippet-card button {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--button-color-2);
  color: var(--text-color-default);
}

.snippet-card button:hover {
  background-color: var(--button-hover-color-2);
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-modal-content {
  background: var(--background-color);
  color: var(--text-color-2);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  width: 20rem;
}

.delete-modal button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.filter-modal {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filters {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: space-evenly; /* Horizontally center */
  flex-direction: column;
  background: var(--background-color-default);
  color: var(--text-color-2);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  height: 30vh; /* Make height 100% of the parent */
  width: 30vw; /* Make width 100% of the parent */
}

.filter-options {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.filter-language,
.filter-time {
  display: flex;
  flex-direction: column;
}

.loading-state {
  display: flex;
  align-items: center;
  height: 50vh; /* Optional, to take full viewport height */
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 480px) {
  .snippet-card,
  .filters {
    width: 60%;
  }
}
